$logo-color: rgb(29, 135, 133);
$navbar-text: rgb(152,152,152);
$navbar-high: rgb(80,80,80) ;
.highlight{
  background-color: red;
}
.logo{
  font-family: KacstTitleL;
  font-weight: bolder;
  font-size: 40px;
  color: $logo-color;
  margin: 15px 1px 15px 1px;
}
.navlink{
  padding-top: 15px;
}
.navlink2{
  color: $navbar-text;
  transition: color 1000ms ease-in-out, font-size 100ms ease-in-out;
  font-weight: normal;
  font-size: 17px;
  &:hover{
    font-size: 17.15px;
    font-weight: bold;
    background-color: white;
    text-decoration: underline;
    color: $navbar-high;
  }
}
