<div class="welcomeblock">
  <div class="message1">
    <div class="back">
      <p class="title">¿Tienes un dispositivo con detector <br>de huella digital?</p>
      <p class="content">Usalo para resguardar tus sitios web</p>
      <form>
        <input type="text" placeholder="Email" class="email"><a class="btn btn-success">Registrate</a>
      </form>
      <hr>
      <p class="content"> ¿Ya tienes una cuenta?</p>
      <a class="btn btn-warning">Ingresa</a>
    </div>
  </div>
  <img src="../../images/cypersecurity.jpg" class="img1 imgb">
</div>

<div class="infoblock" >
  <div class="row info">
    <div class="col-sm-5">
      <div>
        <p class="title">Mejora la seguridad de tus aplicaciones</p>
        <p class="content">
          Utiliza tu huella digital para añadir una capa de seguridad mas conveniente y segura
          a tus aplicaciones web. Es tan facil como presionar un boton. <a href="#">Aprende</a>
          como funciona.
        </p>
      </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5"><img src="../../images/welcome2.jpg" class="img2 img-responsive img-thumbnail  wow bounceInRight"></div>
  </div>
</div>

<div class="infoblock" >
  <div class="row info">
    <div class="col-sm-5"><img src="../../images/register.jpg" class="img2 img-responsive wow bounceInLeft"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <div>
        <p class="title">Registra tu dispositivo</p>
        <p class="content">
          Crea una cuenta y <a href="#">registra</a> tu dispositivo en esa cuenta, puedes registrar
          cuantos dispositivos quieras, e incluso registrar varios usuarios para tu
          dispositivo. Tienes muchas opciones!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="infoblock" >
  <div class="row info">
    <div class="col-sm-5">
      <div>
        <p class="title">¿No tienes un dispositivo?</p>
        <p class="content">
          Puedes construir uno propio, es mas divertido y barato que comprar uno. Sigue las
          instrucciones de nuestro <a href="#">tutorial</a> para construir tu dispositivo y programarlo de la
          manera que responda mejor a tus necesidades
        </p>
      </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5"><img src="../../images/fingerprint.jpg" class="img2 img-responsive wow bounceInRight"></div>
  </div>
</div>

<div class="infoblock" >
  <div class="row info">
    <div class="col-sm-5"><img src="../../images/development.jpg" class="img2 img-responsive wow bounceInLeft"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <div>
        <p class="title">Impleméntalo</p>
        <p class="content">
          Te dejamos algunos <a href="#">ejemplos</a> de implementación para que puedas comenzar.
          La implementacion solo requiere una clave que te otorgamos con la cuenta y conocimientos
          de programación
        </p>
      </div>
    </div>
  </div>
</div>

<div class="contact">
  <p class="title">¿Tienes dudas o consultas?</p>
  <p class="content">Contactanos</p>
</div>

<div class="footer">Copyright 2017 MauriDev Corporation. All rights reserved.</div>
